<template>
  <div>
    <div class="background-app"></div>
    <div class="login-container">
      <div class="login-app">
        <div class="brand"><h1>RentCars</h1></div>
        <div class="login-input-app">
          <h2>Se connecter</h2>
          <el-form label-position="top" label-width="100px" :model="labels">
            <el-form-item label="Email">
              <el-input type="email" v-model="labels.email"></el-input>
            </el-form-item>
            <el-form-item label="Mot de passe">
              <el-input type="password" v-model="labels.password"></el-input>
            </el-form-item>
          </el-form>
          <el-button v-loading="loading"
                     :disabled="loading"
                     type="primary"
                     @click.prevent="submit_handler()"
          >
            Let's go
          </el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import store from '../store';
import router from '../router';

import User from '../models/User';

export default {
  store,
  router,
  name: 'Login',
  data() {
    return {
      labels: new User(),
      loading: false,
    };
  },
  methods: {
    submit_handler() {
      this.loading = true;
      this.setUser();
    },
    setUser() {
      axios.get(`http://localhost:8080/RentalCarsUPEM/api/user?email=${this.labels.email}&password=${this.labels.password}`)
        .then((response) => {
          console.log(response);
          this.loading = false;
          store.commit('login', response.data);
          console.log(response.data);
          this.$router.push('home');
        })
        .catch((error) => {
          console.log(error);
          this.loading = false;
          this.$notify.error({
            title: 'Erreur',
            message: 'Une erreur est survenue',
          });
        });
    },
  },
};
</script>

<style scoped>

</style>
