<template>
  <div class="w-container">
    <el-steps :active="step" finish-status="success" class="stepper">
      <el-step title="Date de location"></el-step>
      <el-step title="Chosir son modèle"></el-step>
      <el-step title="Vos réservations"></el-step>
    </el-steps>
    <template v-if="step === 0">
      <el-button @click="step += 1" :disabled="date == null">Suivant</el-button>
      <div class="datepicker">
        <span>Choisissez votre période de location</span>
        <el-date-picker
          v-model="date"
          type="daterange"
          start-placeholder="Debut de la location"
          end-placeholder="Fin de la location">
        </el-date-picker>
      </div>
    </template>
    <template v-if="step === 1">
      <div>
        <el-button @click="step -= 1">Précédent</el-button>
        <el-button @click="step += 1">Suivant</el-button>
      </div>
      <div class="section-2"
           v-for="(car, index) in cars"
           :key="index"
           v-loading="loading">
        <div>
          <img
            src="https://uploads-ssl.webflow.com/5bf5afa9ba0bd51e495041ce/5bf9871b4ae342456f82bae9_peugeot-208-5d-schwarz-2012.png"
            alt=""
            class="image-2"
          >
        </div>
        <div class="car-info">
          <h3 class="heading">{{ car.brand }} {{ car.model }}</h3>
          <p>{{ car.nbDoors }} portes</p>
          <el-rate
            :value="Math.round(car.rate.toFixed(1) * 100) /100"
            v-on:input="car.rate = $event.target.value"
            disabled
            show-score
            text-color="#ff9900"
            score-template="{value} / 5">
          </el-rate>
          <div class="car-availability">
            <el-tag type="success" v-if="!car.rented">Disponible</el-tag>
            <el-tag v-else-if="car.nbRequester === 0" type="success">
              Soyez le premier à réserver ce modèle
            </el-tag>
            <el-tag v-else-if="car.nbRequester === 1" type="info">
              Déjà {{ car.nbRequester }} personne en attente sur ce modèle
            </el-tag>
            <el-tag v-else type="info">
              Déjà {{ car.nbRequester }} personnes en attente sur ce modèle
            </el-tag>
          </div>
        </div>
        <div class="price">
          <div class="price-name">
            <h3 class="heading-2">MEILLEUR PRIX - MODIFICATION &amp; ANNULATION </h3>
          </div>
          <div class="price-value">
            <div class="div-block-4">
              <div><strong>{{ car.priceRent }}€/jour TTC</strong></div>
              <div class="text-block-2">soit {{ totalPrice(car) }}€</div>
            </div>
            <div class="div-block-3"
                 v-if="!car.rented"
                 @click="rentHandler(car)"
                 v-loading="car.requestPending">
              Louer ce modèle
            </div>
            <div class="div-block-3"
                 v-else
                 @click="rentHandler(car)"
                 v-loading="car.requestPending">
              Réserver ce modèle
            </div>
          </div>
        </div>
      </div>
    </template>
    <template v-if="step === 2">
      <el-button @click="step -= 1">Précédent</el-button>
      <UserRequests></UserRequests>
    </template>
  </div>
</template>

<script>
import axios from 'axios';

import Car from '../models/Car';
import UserRequests from '../components/UserRequests.vue';

export default {
  name: 'Rent',
  components: { UserRequests },
  data() {
    return {
      cars: [],
      loading: true,
      step: 0,
      date: null,
    };
  },
  computed: {
    nbDays() {
      if (this.date[0] == null || this.date[1] == null) return 0;
      const d1 = new Date(this.date[0]);
      const d2 = new Date(this.date[1]);
      return Math.abs((d1 - d2) / (1000 * 60 * 60 * 24));
    },
  },
  methods: {
    totalPrice(car) {
      return car.priceRent * this.nbDays;
    },
    getCars() {
      axios.get('http://localhost:8080/RentalCarsUPEM/api/cars')
        .then((response) => {
          const newCars = [];
          response.data.forEach((car) => {
            newCars.push(new Car(car));
          });
          this.cars = newCars;
          this.loading = false;
        })
        .catch((error) => {
          console.log(error);
          this.loading = false;
          this.$notify.error({
            title: 'Erreur',
            message: 'Une erreur est survenue',
          });
        });
    },
    setCarRequestPending(car, bool) {
      const carIndex = this.cars.findIndex(e => e.id === car.id);
      if (carIndex < 0) return;
      this.cars[carIndex].requestPending = bool;
    },
    rentHandler(car) {
      this.setCarRequestPending(car, true);
      axios.post(
        'http://localhost:8080/RentalCarsUPEM/api/rent-car',
        { carID: car.id, userID: this.$store.state.user.id },
      )
        .then((response) => {
          const { rentStatus: status } = response.data;
          const { rentQueuePosition: pos } = response.data;
          this.setCarRequestPending(car, false);
          if (status === 'VALIDATED') {
            this.$alert(
              `Votre véhicule immatriculée: ${car.id} vous attend !`,
              `Location ${car.brand} ${car.model}`, {
                confirmButtonText: 'Mes réservations',
                callback: () => {
                  this.$router.push('/home/requests');
                },
              },
            );
          } else {
            this.$alert(
              `Votre demande de location a bien été prise en compte ! Vous êtes à la ${pos}ème position`,
              `Location ${car.brand} ${car.model}`, {
                confirmButtonText: 'OK',
                callback: () => {
                  // TODO
                },
              },
            );
          }
        })
        .catch(() => {
          this.setCarRequestPending(car, false);
          this.$notify.error({
            title: 'Erreur',
            message: 'Une erreur est survenue',
          });
        });
    },
  },
  mounted() {
    setInterval(this.getCars(), 2000);
  },
};
</script>

<style scoped>
.stepper {
  padding-bottom: 20px;
}
.datepicker {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;
}
</style>
