<template>
  <div>
    <div class="section">
      <div class="container w-container">
        <img
          src="https://uploads-ssl.webflow.com/5bf5afa9ba0bd51e495041ce/5bf97e3afad79debabd5da26_UPEM_LOGO.png"
          width="120.5" alt="" class="image">
        <h4>RaRoGui RMI</h4>
        <div class="user-info"><img
          src="https://uploads-ssl.webflow.com/5bf5afa9ba0bd51e495041ce/5bf9828dc176118534ade2d5_5ad89256ffaa090558e0e9f2_head.svg"
          width="42" alt="">
          <div>
            <div>{{ fullName }}</div>
            <a class="logoff" @click="logoff_handler()">Se déconnecter</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container w-container">
      <el-menu :router="true"
               :default-active="activeLink"
               mode="horizontal"
      >
        <el-menu-item index="/home">Accueil</el-menu-item>
        <el-menu-item index="/home/rent">Location</el-menu-item>
        <el-menu-item index="/home/requests">Mes demandes</el-menu-item>
      </el-menu>
    </div>
  </div>
</template>

<script>
import store from '../store';
import router from '../router';

export default {
  store,
  router,
  name: 'Header',
  data() {
    return {
      activeLink: null,
    };
  },
  computed: {
    fullName() {
      return this.$store.getters.fullName;
    },
  },
  methods: {
    logoff_handler() {
      this.$store.commit('logoff');
      this.$router.push('login');
    },
  },
  mounted() {
    this.activeLink = this.$route.path;
  },
  watch: {
    $route(newVal) {
      this.activeLink = newVal.path;
    },
  },
};
</script>

<style scoped>

</style>
