<template>
  <div class="w-container">
    <div class="section-2" v-for="(request, index) in carRequests" :key="'car' + index">
      <div>
        <img
          src="https://uploads-ssl.webflow.com/5bf5afa9ba0bd51e495041ce/5bf9871b4ae342456f82bae9_peugeot-208-5d-schwarz-2012.png"
          alt="" class="image-2">
      </div>
      <div class="car-info">
        <h3 class="heading">{{ request.car.brand }} {{ request.car.model }}</h3>
        <p>{{ request.car.nbDoors }} portes</p>
      </div>
      <div class="price">
        <div class="price-name">
          <h3 class="heading-2">ETAT&nbsp;DE&nbsp;VOTRE&nbsp;LOCATION</h3>
        </div>
        <div class="price-value">
          <div class="div-block-3"
               @click="finishCar(request.car.id)"
               v-if="request.status === 'VALIDATED'">
            Retourner ce modèle
          </div>
          <el-tag v-else type="info">En attente</el-tag>
        </div>
      </div>
    </div>
    <span v-if="carRequests.length === 0">Pas de voiture en location pour le moment</span>
    <el-button @click="getUserRequests()">Actualiser</el-button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'UserRequests',
  data() {
    return {
      carRequests: [],
    };
  },
  methods: {
    getUserRequests() {
      axios.get(`http://localhost:8080/RentalCarsUPEM/api/user-requests?userID=${this.$store.state.user.id}`)
        .then((response) => {
          this.carRequests = response.data;
        })
        .catch((error) => {
          this.$notify.error({
            title: 'Erreur',
            message: error,
          });
        });
    },
    finishCar(carID) {
      axios.get(`http://localhost:8080/RentalCarsUPEM/api/end-rent?carID=${carID}`)
        .then(() => {
          this.getUserRequests();
        })
        .catch((error) => {
          this.$notify.error({
            title: 'Erreur',
            message: error,
          });
        });
    },
  },
  mounted() {
    this.getUserRequests();
  },
};
</script>

<style scoped>

</style>
